<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: rgb(210, 151, 75)">
    <div class="container" style="position:absolute;display:flex;flex-direction: column;align-items: flex-start;left: 2px;">
          <h1 class="display-4 text-center py-1" style="font-weight: bold;">Reja va Maqsadlar</h1> 
          <div class="jumbotron p-3" style="background-color: rgb(210, 151, 75);border-color: rgb(210, 151, 75);">
            <form id="create-form" action="/create-item" method="POST" >
                <div class="d-flex align-items-flex-center" style="width: 480px; position: absolute; left: 18px;">
                    <input type="text" placeholder="Enter item name " style="flex: 1" id="create-field" name="Item" autofocus
                        autocomplete="off" class="form-control mr-3"/>
                    <button class="btn btn-primary" style="border-radius: 20px; background-color: white;color: black; width:200px;"> Yangi harid qoshish</button>
            <form>
          </div>
    </div>
  </body>
</html>
